<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="/test" method="post">
		<label style="width: 60px; display: inline-block;">id : </label><input type="text" name="id">
		<br>
		<label style="width: 60px; display: inline-block;">name : </label><input type="text" name="name">
		<br>
		<label style="width: 60px; display: inline-block;">age  : </label><input type="text" name="age">
		<br><br>
		<button id="btn">redirect test</button>
	</form>
</body>
</html>